In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                  title  year
0        When I Am King  1981
1             Zafra (I)  1959
2             In Return  2012
3  The Airborne Trilogy  2010
4   Requiem to Massacre  1960

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [17]:
c = cast[(cast.character == 'Superman') | (cast.character == 'Batman')]
g = c.groupby(['year','character']).size()
u = g.unstack(1).fillna(0)
u
df = u
df['Superman year'] = df.Batman < df.Superman
df.head()

character  Batman  Superman  Superman year
year
1938          1.0       0.0          False
1940          1.0       0.0          False
1943          1.0       0.0          False
1948          0.0       1.0           True
1949          2.0       0.0          False

### How many years have been "Batman years", with more Batman characters than Superman characters?

In [19]:
c = cast[(cast.character == 'Superman') | (cast.character == 'Batman')]
g = c.groupby(['year','character']).size()
u = g.unstack(1).fillna(0)
u
df = u

print('Superman years')
len(df[df.Batman < df.Superman])

Superman years

11

In [20]:
print('Batman years')
len(df[df.Batman > df.Superman])

Batman years

27

### Plot the number of actor roles each year and the number of actress roles each year over the history of film.

### Plot the number of actor roles each year and the number of actress roles each year, but this time as a kind='area' plot.

### Plot the difference between the number of actor roles each year and the number of actress roles each year over the history of film.

### Plot the fraction of roles that have been 'actor' roles each year in the history of film.

### Plot the fraction of supporting (n=2) roles that have been 'actor' roles each year in the history of film.

### Build a plot with a line for each rank n=1 through n=3, where the line shows what fraction of that rank's roles were 'actor' roles for each year in the history of film.